# Ignore resume data (keep the resume private)
resume.json
# Ignore intro.md -- for internal only
intro.md
# Ignore virtual environment
venv/
# Ignore output files
output/
# Ignore resume folder -- for internal only
resumes/
# Ignore Python cache files
__pycache__/